In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from config import api_key
from citipy import citipy
top_hits_csv=pd.read_csv('./Resources/top_hits.csv')
top_hits_csv.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [3]:
top_hits_csv.count()

Rank      5100
Song      5100
Artist    5100
Year      5100
Lyrics    4913
Source    4913
dtype: int64

In [5]:
top_hits_sorted = top_hits_csv.dropna(how="any")
top_hits_sorted.count()

Rank      4913
Song      4913
Artist    4913
Year      4913
Lyrics    4913
Source    4913
dtype: int64

In [6]:
top_hits_cleaned = top_hits_sorted[top_hits_sorted["Lyrics"].map(len) > 80]
top_hits_cleaned.count()

Rank      4829
Song      4829
Artist    4829
Year      4829
Lyrics    4829
Source    4829
dtype: int64

In [7]:
top_hits_cleaned.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0
5,6,downtown,petula clark,1965,when youre alone and life is making you lonel...,1.0